.navbar {
  width: 100%;
  background-color: #313131;   
  padding: 18px 0;
}
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo {
  flex-shrink: 0;
  margin-left: -40px;
  /* margin-right:auto; */
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
.logo-wrapper img {
  filter: brightness(0) invert(1);
  height: 52px; 
  width: auto;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.logo-title {
  font-family: "RebelTypeDog", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  color: #ffffff;
}

.logo-sub {
  font-size: 12px;
  letter-spacing: 3px;
  color: #dcdcdc;
  margin-top:4px;
  padding-left: 2px;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 32px;
  /* margin-left:auto; */
}
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto; /* pushes BOTH links + CTA right */
}


.navbar-links a {
  text-decoration: none;
  color: #dcdcdc;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffffff;
}

.navbar-links .active {
  color: #ffffff;
}



.navbar-cta {
  flex-shrink: 0;
}

.navbar-cta .cta-btn {
  padding: 10px 18px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.navbar-cta .cta-btn:hover {
  background: #ffffff;
  color: #313131;
}
