@import "tailwindcss";
@font-face {
  font-family: "OswaldCustom";
  src: url("/Oswald-Bold.ttf") format("truetype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-thin";
  src: url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "RebelTypeDog";
  src: url("../assets/fonts/RebelTypeDog-Regular.otf") format("opentype");  
  font-weight: normal;
  font-style: normal;
}
html, body {
  overscroll-behavior: none;
}
/* utility classes */
.heading-font {
  font-family: "Oswald", sans-serif;
}

.para-font {
  font-family: "Montserrat", sans-serif;
}

