@import "tailwindcss";
@font-face {
  font-family: "OswaldBold";
  src: url("./assets/fonts/Oswald-Bold.otf") format("opentype");
}
@font-face {
  font-family: "OswaldLight";
  src: url("./assets/fonts/Oswald-Light.otf") format("opentype");
}
@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "BankGothic";
  src: url("./assets/fonts/BankGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RebelTypeDog";
  src: url("./assets/fonts/RebelTypeDog-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontserratThin";
  src: url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "BankGothicLight";
  src: url("/BankGothic-Light-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BankGothicmedium";
  src: url("./assets/fonts/BankGothicBT-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.oswaldbold{
  font-family: "OswaldBold", sans-serif;
}
.oswaldlight {
  font-family: "OswaldLight", sans-serif;
}
.montserratthin {
  font-family: "MontserratThin", sans-serif;
}
.rebeltypedog {
  font-family: "RebelTypeDog", sans-serif;
}
.oswaldsemibold {
  font-family: "Oswald", sans-serif;
}
.bankgothiclightreg {
  font-family: "BankGothicLight", sans-serif;
}
.bankgothicbold {
  font-family: "BankGothic", sans-serif;
}
.bankgothicmed {
  font-family: "BankGothicmedium", sans-serif;
}

@font-face {
  font-family: "Montserrat-thin";
  src: url("./assets/fonts/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "RebelTypeDog";
  src: url("../assets/fonts/RebelTypeDog-Regular.otf") format("opentype");  
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "oswaldRegular";
  src: url("../src/assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_28pt-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "montsReg";
  src: url("../src/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "interReg";
  src: url("../src/assets/fonts/Inter_24pt-Regular.ttf");
}
@font-face {
  font-family: "montsmed";
  src: url("../src/assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "montsbold";
  src: url("../src/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  
}
@font-face {
  font-family: "montssemibold";
  src: url("../src/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
html, body {
  overscroll-behavior: none;
}
/* utility classes */
.monts-semibold{
  font-family:"montssemibold";
}
.monts-bold{
    font-family: "montsbold";
}
.section-font{
  font-family: "Inter";
}

.heading-font {
  font-family: "Oswald", sans-serif;
}

.para-font {
  font-family: "Montserrat", sans-serif;
}

.oswold-reg{
  font-family: "oswaldRegular";
}
.monts-med{
  font-family: "montsmed";
}
.monts-reg{
  font-family: "montsreg";
}
.inter-reg{
    font-family: "interReg";
}


.contact-page-wrapper {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 2%;
}
